<div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.35);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">
                        <h1 class="mb-3">Luxury PM</h1>
                        <h4 class="mb-4">Висококачествени кожени артикули изработени с внимание към детайла</h4>
                        <!-- <a class="btn btn-outline-light btn-lg m-2" role="button">Go to products</a>
                        <a class="btn btn-outline-light btn-lg mt-2" role="button">Learn about us</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>