@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url(../../../../assets/images/pm_header1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 80%;
}
.carousel-item:nth-child(2) {
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/77.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carousel-item:nth-child(3) {
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/78.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: 0px;
  }
  #introCarousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 50vh;
  }
}

.mask {
  height: 100%;
}

a:hover {
  color: #524f50 !important;
}

h1 {
  font-family: "Acme", sans-serif;
  font-size: 4.8rem;
}
