<ul>
    <li>
        <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li>
        <a routerLink="/register" routerLinkActive="active">Register</a>
    </li>
    <li>
        <a (click)="logout()">Logout</a>
    </li>
    <li>
        <a routerLink="/user-profile" routerLinkActive="active">User Profile</a>
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active">Products</a>
    </li>
    <li>
        <a routerLink="/shopping-cart" routerLinkActive="active">Shopping Cart </a>
    </li>
</ul>