<div class="container-fluid text-light">
    <div *ngIf="(shoppingCartList$ | async)?.length === 0">Shopping cart is empty!</div>
    <div class="row">
        <div class="col-12">
            <pm-shopping-cart-item [product]="product" [shoppingCartProducts]="shoppingCartProducts" class="mb-5"
                *ngFor="let product of shoppingCartList$ | async as shoppingCartProducts">
            </pm-shopping-cart-item>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 btn-container">
            <a *ngIf="(shoppingCartList$ | async)?.length > 1" class="btn btn-outline-light" (click)="removeAllItems()" role="button">
                Премахни всички <i class="fas fa-trash-alt"></i>
            </a>
            <a *ngIf="(shoppingCartList$ | async)?.length > 0" class="btn btn-danger btn-rounded" (click)="goToDeliveryScreen()"
                role="button">
                Продължи <i class="fas fa-long-arrow-alt-right"></i>
            </a>
        </div>
    </div>
</div>