<div class="container-fluid text-light">
    <div class="row">
        <div class="col-6">
            <div class="image-container" [ngStyle]="{'background-image': getProductDetailsImage()}"></div>
        </div>
        <div class="col-6 product-details-container">
            <h4 class="text-danger">{{itemDetails?.categoryName}}</h4>
            <h3 class="d-flex justify-content-start">{{itemDetails?.name}}</h3>
            <div class="product-price d-flex justify-content-start">{{itemDetails?.price | currency:'BG'}}</div>
            <hr>
            <div class="product-details">
                {{itemDetails?.description}}
            </div>
            <hr>
            <a class="btn btn-outline-light btn-lg mt-3" (click)="addToCart()" role="button">Добави в количката</a>
        </div>
    </div>
</div>