:host {
  margin-bottom: 30px;
}

.card {
  width: 100%;

  img {
    height: 120px;
    border-radius: 0.7rem;
  }
}

.product-details-container {
  display: flex;
  align-items: center;
}

.card-body {
  display: flex;
  flex-direction: row;
}

.card-container {
  background-color: #4f4f4f;
  border-radius: 0.7rem;
  box-shadow: 5px 6px 14px -4px #000000;
}

input {
  width: 50px;
  font-size: 1.6rem;
}

i {
  color: #fbfbfb;
}
