<footer class="bg-dark text-lg-start text-light">
    <div class="py-4 text-center">
        <p class="">
            Contact us
        </p>
        <p>
            luxurypm.craft@gmail.com
        </p>

    </div>

    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
        <p>Follow Luxury PM on social media</p>

        <a href="https://www.facebook.com/luxurypm.craft" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/luxurypm_leathercraft/" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.instagram.com/luxurypm_leathercraft/" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
            <i class="fab fa-etsy"></i>
        </a>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <p class="text-light">Luxury PM</p>
    </div>
</footer>