<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <form #registerForm="ngForm" class="bg-dark text-light rounded-5 shadow-5-strong p-5">

                        <div class="form-outline mb-4">
                            <input #username="ngModel" ngModel id="formUsername" class="form-control" type="text" name="username" required
                                minlength="4">
                            <label class="form-label" for="formUsername">Потребителско име</label>
                            <small class="text-danger d-block" *ngIf="username.errors?.required && username.touched">Потребителското име е
                                задължително</small>
                            <small class="text-danger d-block" *ngIf="username.errors?.minlength && username.touched">Потребителското име
                                трябва да
                                е
                                поне 4 символа</small>
                        </div>

                        <div class="form-outline mb-4">
                            <input #email="ngModel" ngModel type="email" name="email" required [pmFormValidator]="emailValidator"
                                id="formEmail" class="form-control">
                            <label class="form-label" for="formEmail">Имейл</label>
                            <small class="text-danger d-block" *ngIf="email.errors?.required && email.touched">Имейлът е
                                задължителен</small>
                            <small class="text-danger d-block" *ngIf="email.errors?.invalidEmail && email.touched">Грешен формат на
                                имейл</small>
                        </div>

                        <div ngModelGroup="passwords" [pmFormValidator]="matchPasswordsValidator" class="form-outline mb-4">
                            <input #password="ngModel" ngModel type="password" name="password" required minlength="8" autocomplete="off"
                                id="formPassword" class="form-control">
                            <label class="form-label mb-4" for="formPassword">Парола</label>
                            <small class="text-danger mb-4 d-block" *ngIf="password.errors?.required && password.touched">Паролата е
                                задължителна
                            </small>
                            <small class="text-danger mb-4 d-block" *ngIf="password.errors?.minlength && password.touched">Паролата трябва
                                да е поне
                                8
                                символа</small>

                            <input #repeatPassword="ngModel" ngModel type="password" name="repeatPassword" required minlength="8"
                                autocomplete="off" id="formRepeatPassword" class="form-control">
                            <label class="form-label" for="formRepeatPassword">Повтори парола</label>
                            <small class="text-danger mb-4 d-block" *ngIf="repeatPassword.errors?.required && repeatPassword.touched">Полето
                                за
                                повтаряне на парола е задължително</small>
                            <small class="text-danger mb-4 d-block"
                                *ngIf="repeatPassword.errors?.minlength && repeatPassword.touched">Полето за
                                повтаряне на парола трябва да е поне 8 символа</small>
                            <small class="text-danger mb-4 d-block"
                                *ngIf="repeatPassword.errors?.invalidPasswords && repeatPassword.touched">Двете
                                пароли не съвпадат</small>
                        </div>

                        <div class="row mb-4">
                            <div class="col text-center">
                                Вече имаш профил?
                                <a routerLink="/login">Вход</a>
                            </div>
                        </div>

                        <button class="btn btn-danger btn-block" [disabled]="registerForm.invalid"
                            (click)="register(registerForm)">Регистрация</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>