<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <form #loginForm="ngForm" class="bg-dark text-light rounded-5 shadow-5-strong p-5">

                        <div class="form-outline mb-4">
                            <input #username="ngModel" ngModel id="formUsername" class="form-control" type="text" name="username" required
                                minlength="4">
                            <label class="form-label" for="formUsername">Username</label>
                            <div class="text-danger" *ngIf="username.errors?.required && username.touched">Username is required</div>
                            <div class="text-danger" *ngIf="username.errors?.minlength && username.touched">Username must be at least 4
                                characters</div>
                        </div>

                        <div class="form-outline mb-4">
                            <input #password="ngModel" ngModel id="formPassword" class="form-control" type="password" name="password"
                                required minlength="8">
                            <label class="form-label" for="formPassword">Password</label>
                            <div class="text-danger" *ngIf="password.errors?.required && password.touched">Password is required</div>
                            <div class="text-danger" *ngIf="password.errors?.minlength && password.touched">Password must be at least 8
                                characters</div>
                        </div>

                        <div class="row mb-4">
                            <div class="col text-center">
                                Don't have an account?
                                <a routerLink="/register">Sign up</a>
                            </div>
                        </div>

                        <button class="btn btn-danger btn-block" [disabled]="loginForm.invalid" (click)="login(loginForm)">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>