<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <form #loginForm="ngForm" class="bg-dark text-light rounded-5 shadow-5-strong p-5">

                        <div class="form-outline mb-4">
                            <input #username="ngModel" ngModel id="formUsername" class="form-control" type="text" name="username" required
                                minlength="4">
                            <label class="form-label" for="formUsername">Потребителско име</label>
                            <small class="text-danger d-block" *ngIf="username.errors?.required && username.touched">Потребителското име е
                                задължително</small>
                            <small class="text-danger d-block" *ngIf="username.errors?.minlength && username.touched">Потребителското име
                                трябва да
                                е
                                поне 4 символа</small>
                        </div>

                        <div class="form-outline mb-4">
                            <input #password="ngModel" ngModel id="formPassword" class="form-control" type="password" name="password"
                                required minlength="8">
                            <label class="form-label" for="formPassword">Парола</label>
                            <small class="text-danger d-block" *ngIf="password.errors?.required && password.touched">Паролата е
                                задължителна</small>
                            <small class="text-danger d-block" *ngIf="password.errors?.minlength && password.touched">Паролата трябва да е
                                поне 8
                                символа</small>
                        </div>

                        <div class="row mb-4">
                            <div class="col text-center">
                                Нямаш регистрация?
                                <a routerLink="/register">Регистрирай се</a>
                            </div>
                        </div>

                        <button class="btn btn-danger btn-block" [disabled]="loginForm.invalid" (click)="login(loginForm)">Вход</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>