i {
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  font-size: 1.6rem;
  background-color: #262626;
  border-radius: 5px;

  a {
    color: #fff;
    padding: 0.5em;
  }
  li:hover,
  a:hover {
    background-color: #f93154;
    border-radius: 5px;
  }
}

nav {
  z-index: 2000;
}
