{
  "printWidth": 140,
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "always",
  "endOfLine": "lf"
}
